#greeting {
	display: none;
}

#playerInfo {
	text-align: center;
}

#player1 p{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}

#player2 p{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}

#message-box {
	background-color: white;
	height: 15em;
	overflow: scroll;
}

#message-box p{
	margin: 0;
	padding: 0;
}

.message {
	width: 100%;
	padding: 0;
}