body {
	background-image: url('../images/rps-background.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#join {
	background-color: skyblue;
}

#greeting {
	display: none;
	background: rgba(166, 38, 166, 0.3);
}

#playerInfo {
	text-align: center;
}

#player1-box{
	background: rgba(76, 175, 80, 0.3);
}

#player2-box {
	background: rgba(0,191,255, 0.3);
}

#player1 p{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}

#player2 p{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}

#results {
	background: rgba(175, 20, 20, 0.3);
}

#rock {
	height: 250px;
	width: 150px;
}

#paper {
	height: 200px;
	width: 250px;
}

#scissors {
	height: 250px;
	width: 175px;
}

#message-box {
	background-color: white;
	height: 15em;
	overflow: scroll;
}

#message-box p{
	margin: 0;
	padding: 0;
}

.message {
	width: 100%;
	padding: 0;
}

#messageSection {
	margin-top: 10em;
}